services:
  - type: web
    name: meilisearch-embedder
    env: docker
    plan: free
    region: oregon
    autoDeploy: true
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: PYTHONDONTWRITEBYTECODE
        value: "1"
